a { color: maroon;}
a:hover {color:blueviolet; }

@media screen and (min-width: 900px) {
    body {
      background: moccasin;
    }
  }

body {
      color: darkblue;
      width: 60%;
      position: absolute;
      align-content: center;
      left: 20%;
      right: 20%;
    }

.navbar {margin: 10px;}


p {
    text-align: justify;
    text-justify: inter-word;
}

header {text-align: center}

header p, article, .about h1 {text-align: center;}

img {
    margin-top: 10px;
}

.img {
    width: 100%;
    height: auto;
}

.footer {
    margin-top: 4em;
    text-align: center;
}

  @media screen and (max-width: 900px) {
  
    
        
    .articles > div:first-child {
            background-color: antiquewhite;
        }
   
    }