body {
<<<<<<< HEAD
    max-width: 1200px;
    margin: auto;
    font-family: "Space Mono", sans-serif;
    font-size: 30px;
    line-height: 1.4em;
    color: rgb(47, 205, 233);
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-color: bisque;
  }
  .page-title h1 {
    text-align: center;
    padding: 15px;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color:#319fbb;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#319fbb;
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .main {
    text-align: center;
  }
  
.page-description {
    font-size: 1.55rem;
    padding: 30px;
    color: rgba(29, 15, 231, 0.486)
  }
h5 {
    text-align: center;
}
footer { 
    display: block;
    font-size: 20px;
  }
=======
   background-color: lightgreen;
}
>>>>>>> 1035e636b924e7990803f05f1bc0b07d308efc7c
